mixin meta(name, content)
  meta(name=name content=content)

mixin link(file, rel)
  if(rel === 'shortcut icon')
    link(href='./img/' + file, rel=rel)
  else if(rel === 'stylesheet')
    link(href='./css/' + file + '.css', rel=rel)

mixin script(file)
  script(src="./js/" + file + ".js" type='module')

mixin svgIcon(icon)
  svg.icon(class='icon--' + icon)
    use(xlink:href='./img/sprite.svg#' + icon)

mixin socials(socialsIcons, socialsMode)
  ul.socials-list(class=socialsMode)
    each icon in socialsIcons
      li.__item
        a.__link(href=icon.url title=icon.title target="_blank")
          +svgIcon(icon.id)

mixin menu(menuMode)
  nav.nav(class='nav--' + menuMode)
    if menuMode === 'header'
      button.__burger
        span
    ul.menu(class='menu--' + menuMode)
      each item, i  in menu.header
        if i > 0
          li.__item
            a.__link(href=item.link)= item.title
        else
          li.__item
            a.__link.--active(href=item.link)= item.title